<h1>New Recipe</h1>
    <%= form_with model: @recipe, url: user_recipes_path, method: :post,  local: true, scope: :recipe  do |f| %>
      <div>

    <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :desciption %><br>
    <%= f.text_field :desciption %>
  </div>

<div>
  <%= f.submit "Add Recipe" %>
</div>
</div>
<% end %>
